.whole-page {
  background-image: url("./Assets/pawprintsfish.png");
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100%;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}
/*would like to figure out how to make the background image less opaque*/
/*background color #dee9eb*/

/* .App::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #dee9eb40;
} using this caused links to not work, but made background opaque */

.card-body {
  background-color: #aec8ce;
  max-width: 25%;
  padding: 10px;
  margin-bottom: 2rem;
  margin-right: 5px;
  flex-basis: 25%;
  flex-grow: 0;
  flex-shrink: 0;
  border: 3px solid #000;
  border-radius: 20px;
}

.container-carousel {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.card-header {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.page-title {
  text-align: center;
}

.card-species {
  text-align: center;
  font-size: 1.5rem;
}

footer {
  text-align: center;
  font-size: 16px;
  font-weight: 900;
}

.title-learn {
  text-align: center;
  font-size: 2em;
  font-weight: 600;
}

.submit-new {
  border: 2px solid #000;
  border-radius: 5;
}

.menubar {
  padding: 40px;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
}

.nav-links a {
  border-style: solid;
  border-radius: 5px;
  border-color: black;
  background-color: #aec8ce;
  font-size: large;
  text-align: left;
  padding-right: 50px;
  text-decoration: none;
}
.form-section {
  border-style: solid;
  border-radius: 5px;
  border-color: black;
  background-color: #ddadade6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 35px;
  margin: 25px 25px;
}

.form-title {
  text-align: center;
  font-size: 30px;
}

.form-labels {
  font-size: 30px;
  justify-content: space-around;
}

.btn-newmed {
  padding: 5px;
  border-style: solid;
  border-radius: 4px;
  border-color: black;
  margin: 10px;
  background-color: #aec8ce;
  font-size: medium;
}

.input-box {
  font-size: 22px;
}

input.larger {
  width: 22px;
  height: 22px;
}
